.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2em;
}

.movie-list {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 50% 50%;
}

.movie-list-item {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  /* width: 100%; */
  padding: 10px;
  border: 1px solid #ccc;
}

.movie-list-item img {
  width: 100px;
}

.movie-list-item .movie-details {
  color: #000;
  text-align: left;
  padding: 0 10px;
}

.movie-list-item .movie-details h2 {
  margin: 0 0 20px 0;
}

.movie-list-item .movie-details p {
  margin: 20px 0 0 0;
}

.movie-list-item .movie-details ul {
  padding: 0;
  list-style: none;
}

.movie-list-item .movie-details ul li {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: 100%;
  }
  .movie-list-item {
    width: 100%;
  }
}

@media (min-width: 1400px) {
  .movie-list {
    grid-template-columns: 33.3% 33.3% 33.3%;
    column-gap: 20px;
  }
  .movie-list-item {
    width: 100%;
  }
}
